node_modules
# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# Baileys auth sessions
auth_info_baileys/
baileys_auth/
*.creds.json

# Keys or secrets
key/
*.pem
*.key
*.crt

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Optional: jika pakai tmp storage
tmp/
